{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ animal.label }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ animal.height }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ animal.weight }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ animal.birthDate ? animal.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ animal.race }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ animal.espece }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_index') }}">back to list</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
